body {
    background-image: url(nagor2.jpg);
}

.h1 { text-align: center;
    color: #ffffb5;
    font-family: 'Indie Flower', cursive;
    border: 4px solid rgb(247, 165, 165);
    background-color: rgb(158,223,214);
}
.P1 { 
    position: absolute;
    left: 50%;
    top: 25%;
    font-size: 2em;
    color: rgb(197, 73, 112);
    font-family: 'Caveat', cursive;
}
.P2 {
    position: absolute;
    left: 50%;
    top: 90%;
    font-size: 2em;
    color: rgb(197, 73, 112);
    font-family: 'Caveat', cursive;
}
.BG1 {
    width: 800px;
    height: 1100px;
    border: solid rgb(255, 255, 255);
    background-color: rgba(52,64,93,0.8);
    margin: 0 auto;
}

.G1 {
    border: 1px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 45% auto;
    top: 25%;
}
.G1:hover{
    border: 1px;
    height: 400px;
    height: 400px;
    position: absolute;
    left: 45% auto;
    top: 25%;
}

.Scroll {
    border: 3px solid rgb(230, 172, 86);
    display: block;
    padding: 5px;
    width: 400px;
    height: 300px;
    margin-top: 5px;
    overflow: scroll;
    position: absolute;
    left: 48% ;
    top: 34%;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}

.Scroll2 {
    border: 3px solid rgb(230, 172, 86);
    display: block;
    padding: 5px;
    width: 600px;
    height: 300px;
    margin-top: 5px;
    overflow: scroll;
    position: absolute;
    left: 30%;
    top: 100%;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}
.B1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    left: 40%;
}

.B1 span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.B1:hover {
    color: black;
}
.B1:hover span {
    transform: translateX(0)scale(2);
}
.BTN1 {
    width: 800px;
    height: 70px;
    border: solid rgb(255, 255, 255);
    background-color: rgba(178, 190, 195,0.8);
    margin: 0 auto;
}
.M1 {
    background-color: pink;
}
.T {
    color: rgb(158,223,214);
}